/* Main CSS file */



body
{
    /* Locationg */
    display: flex;
    height: 98vh;


    /* Style */
    font-family: 'Open Sans';
    font-size: 18px;
    background-color: #0d1117;
    /* background-image: url(https://w.forfun.com/fetch/33/336cd1280a3890add39a001eea45af6e.jpeg); */
    background-size: cover;
    color: whitesmoke;
}


/* MAIN FLEXBOX CONTAINERS */
.main
{
    /* Location */
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; /* Aligns items on the main axis*/
    align-items: center; /* Aligns items on the cross axis */
    height: 90vh;
    width: calc(100% - 500px); /* Provides horizontal margin that shrinks once min-width is met*/
    min-width: 800px;
    max-width: 2000px;
    margin: auto; /* top, right, bottom, left*/
    margin-top: 70px;
    

    /* Style */
    background-color: rgba(0, 0, 0, 0.3);
}


.horizontal-box
{
    /* Location */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
    margin-right: 2.5px;
    margin-left: 2.5px;
}


.vertical-box
{
    /* Location */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Style */
    width: 100%;
}


/* EVERYTHING ELSE */
.main a
{
    /* Style */
    background-color: rgba(255, 255, 255, 0.267);
    color: whitesmoke;
    /* text-align: center; */
    text-decoration: none;
    font-size: 30px;
}

