/* Main CSS file */



body
{
    /* Style */
    font-family: 'Open Sans';
    font-size: 18px;
    background-color: rgb(67, 74, 80);
    background-image: url(https://w.forfun.com/fetch/33/336cd1280a3890add39a001eea45af6e.jpeg);
    color: whitesmoke;
}


/* MAIN FLEXBOX CONTAINERS */
.main
{
    /* Location */
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; /* Aligns items on the main axis*/
    align-items: center; /* Aligns items on the cross axis */
    height: 98vh; /*? 100vh makes the viewer have to scroll for some reason */
    width: calc(100% - 500px); /* Provides horizontal margin that shrinks once min-width is met*/
    min-width: 800px;
    margin: auto; /*? Without this, align-items breaks for some reason. top, right, bottom, left*/

    /* Style */
    /* background-color: rgba(0, 0, 0, 0.3); */
    background-image: linear-gradient(to top, rgba(255, 166, 1, 0.233), rgba(68, 52, 23, 0.3), rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5));
}


.horizontal-box
{
    /* Location */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    /* Style */
    width: 100%;
}


.vertical-box
{
    /* Location */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Style */
    width: 100%;
}


/* SPECIFIC FLEXBOX CONTAINERS */


/* EVERYTHING ELSE */
button
{
    /* Style */
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.35);
    color: whitesmoke; /*? Why on gods green earth is this needed for the git preview AND live server. But when I open up the file properly it's not?. I didn't overide the property anywhere so it should be defaulting to the button's text color */
    border: 0px;
    font-size: 30px;
}


.dot
{
    /* Location */
    display: inline-block;
    height: 23px;
    width: 23px;

    /* Style */
    background-color: beige;
    border-radius: 50%;
    border: 2px solid beige;
}


#operator-portrait
{
    /* Location */
    width: 300px;
    height: 500px;

    /* Style */
    overflow: hidden;
    object-fit: cover;
    object-position: 50% 0%;
}


#navigation-buttons
{

}

