/* Main CSS file */



body
{
    /* Style */
    font-family: 'Open Sans';
    font-size: 18px;
    background-color: rgb(67, 74, 80);
    background-image: url(https://w.forfun.com/fetch/33/336cd1280a3890add39a001eea45af6e.jpeg);
}


#main
{
    /* Location */
    display: flex;
    flex-direction: column; 
    justify-content: center; /* Aligns items on the main axis*/
    align-items: center; /* Aligns items on the cross axis */
    height: 98vh;
    width: calc(100% - 500px); /* Provides horizontal margin that shrinks once min-width is met*/
    min-width: 800px;
    margin: auto; /*? Without this, align-items breaks for some reason. top, right, bottom, left*/

    /* Style */
    background-color: rgba(0, 0, 0, 0.3);
}


button
{
    /* Style */
    cursor: pointer;
    background-color: slategrey;
    border: 1px solid rgb(172, 196, 219);
    font-size: 16px;
}


#portrait
{
    /* Location */
    width: 300px;
    height: 499px;

    /* Style */
    overflow: hidden;
    object-fit: cover;
    object-position: 50% 0%;
}


#navigation-buttons
{

}

