/* remember to refrence the css file in the head of desired html files
    <link rel="stylesheet" href="main.css">
*/
/* remember your semicolons! treat it like a json file*/

/* styles the body*/
body
{
    background-color:rgb(62, 78, 85);
    color:white;
}

/* styles the nav properties */
nav
{
    position: fixed !important; /* keeps the nav bar in a constant space on the users screen. whenever they scroll it will not budge */
    height: 100px;
    width: 100%; /* size paramaters can take # of pixels and percent as a value */
    float: right;
    padding: 5px;
    line-height: 30px;
    /* background-color: yellow; works but doesn't look good yet*/
    /* color: tomato !important; */
}

/* Styles all the headers */
/* header
{
} */

/* Styles the second largest headers */
h2
{
    color: rgb(135, 223, 226);
    text-align: center;
}

/* Styles the footer */
footer
{
    text-align: center;
}

