/** The main CSS file */

/* remember to refrence the css file in the head of desired html files
    <link rel="stylesheet" href="main.css">
*/
/* remember your semicolons! treat it like a json file*/



/* Styles the body*/
body
{
    background-color:rgb(62, 78, 85);
    color:white;
}


/* Styles the elements within the navbar*/
nav
{
    /* Location */
    position: fixed !important; /* makes the navbar constantly onscreen */
    height: 100px;
    width: calc(100% - 15px); /* used calc to take up entire width except for the last 15px to match left margin*/

    /* Decoration */
    background-color: rgba(0, 0, 0, 0.3); /* the 'a' in rgba is the alpha channel, it changes the transparency. */
}


/* Styles the header elements within the navbar */
.navHeader
{
    /* Location */
    text-align: right;
    padding-right: 15px;
    line-height: 15px;

    /* Decoration */
    color: white;
}

.navHeader h3
{
    color: red;
}


/* The navigation bar */



/* Styles the links inside the navigation bar */
.topNav a
{
    /* Location */
    float: left;
    text-align: center;
    padding: 14px 16px;

    /* Decoration */
    color: #f2f2f2;
    text-decoration: none;
    font-size: 17px;
}
    
    
/* Styles the links inside the navigation bar when the mouse cursor is hovering above them */
.topNav a:hover
{
    background-color: #ddd;
    color: black;
}


/* Styles the link button for whichever page the user is currently on */
.topNav a.active
{
    background-color: rgb(135, 223, 226);
    color: white;
}


/* Styles the element right after the navigation bar */
.afterNav
{
    padding-top: 90px /* adds padding so the navigation bar doesn't overlap the text itself */
}


/* Styles the second largest headers */
h2
{
    color: rgb(135, 223, 226);
    text-align: center;
}


/* Styles the footer */
footer
{
    text-align: center;
}

