/* this is a CSS comment for your information */
/* remember to refrence the css file in teh head of desired html files
    <link rel="stylesheet" href="main.css">
*/

/* styles the body*/
body
{
    background-color:rgb(62, 78, 85);
    color:white;
}

/* styles the nav properties */
nav
{
    /* sets the height of the nav bar */
    height: 600px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

footer
{
    text-align: center;
    margin-right: 200px;
}

memImage
{
    margin-right: 200px;
}